#map {
    width: 80vw;
    height: 80vh;
}

.marker {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 46px;
    background-image: url('https://s3.amazonaws.com/media.freshgigs.ca/company_logos/2296/details/CPA_logo_-no-background.png?w=10');
    background-size: 46px;
  }
  